.home{
  .banner{
    background-color: rgb(46, 25, 127);
    .banner-content{
      width: 1190px;
      margin: 0 auto;
      height: 430px;
      background: url('https://file.boxuegu.com/b87955245d1840c9a0abe915687a2466.jpg') no-repeat;
      background-size: cover;
    }
  }
}